$color-white: #ffffff;
$color-black: #000000;

$color-grey-100: #585858;
$color-grey-200: #a1a1a1;
$color-grey-300: #d9d9d9;

$color-primary-fury-red: #d8687b;
$color-primary-grass-green: #6e8f42;
$color-primary-retr-orange: #f6cea1;
$color-primary-sea-green: #0e3536;

$color-secondary-redish: #f5ccd3;
$color-secondary-grassish: #acbc98;
$color-secondary-sunshine: #f7e5d0;
$color-secondary-seaish: #b2d4d5;

$color-state-blood: #b44046;
$color-state-moss: #b6ab5d;
$color-state-forrest: #3f5727;
