@import './responsive.scss';

body {
	font-family: Lato, 'Helvetica Neue', sans-serif;

	@include respond-to-max('sm') {
		overflow-x: hidden;
	}
}

*,
*:before,
*:after,
*::before,
*::after {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
}

div,
p {
	@include respond-to-max('sm') {
		line-height: 1.2;
	}
}
