%clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

.h-text-align--center {
	text-align: center;
}

@mixin background-opacity($color, $opacity: 0.3) {
	background: $color; /* The Fallback */
	background: rgba($color, $opacity);
}
