$breakpoints: (
	'xs': 0,
	'sm': 576px,
	'md': 768px,
	'lg': 992px,
	'xl': 1200px
) !default;

@mixin respond-to-min($breakpoint) {
	// If the key exists in the map
	@if map-has-key($breakpoints, $breakpoint) {
		// Prints a media query based on the value
		@media (min-width: map-get($breakpoints, $breakpoint)) {
			@content;
		}
	}

	// If the key doesn't exist in the map
	@else {
		@warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Available breakpoints are: #{map-keys($breakpoints)}.";
	}
}

@mixin respond-to-max($breakpoint) {
	// If the key exists in the map
	@if map-has-key($breakpoints, $breakpoint) {
		// Prints a media query based on the value
		@media (max-width: map-get($breakpoints, $breakpoint)) {
			@content;
		}
	}

	// If the key doesn't exist in the map
	@else {
		@warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Available breakpoints are: #{map-keys($breakpoints)}.";
	}
}

@mixin hide-within($b1, $b2) {
	// If the key exists in the map
	@if map-has-key($breakpoints, $b1) {
		@if map-has-key($breakpoints, $b2) {
			// Prints a media query based on the value
			@media (min-width: map-get($breakpoints, $b1)) and (max-width: map-get($breakpoints, $b2)) {
				display: none;
			}
		} @else {
			@media (min-width: map-get($breakpoints, $b1)) {
				display: none;
			}
		}
	}

	// If the key doesn't exist in the map
	@else {
		@warn "Unfortunately, no value could be retrieved from start `#{$b1}`. "
        + "Available breakpoints are: #{map-keys($breakpoints)}.";
	}
}
