$space-basis-value: 12px;

$space-small: $space-basis-value * 1;
$space-medium: $space-basis-value * 2;
$space-large: $space-basis-value * 3;
$space-xlarge: $space-basis-value * 4;
$space-xxlarge: $space-basis-value * 5;
