rk-content-loader-title,
rk-content-loader-title content-loader,
rk-content-loader-title content-loader svg {
	display: block;
	width: 100%;
}
rk-content-loader-title content-loader svg {
	display: block;
	width: 100%;
}
