// @import "../../../styles/colors.scss";
// @import "../image/image.component.scss";

// .a-picture {
//   @extend .a-image;
// }

// .a-picture__description {
//   @extend .a-image__description;
// }

// .a-picture--rounded-small {
//   @extend .a-image--rounded-small;
// }

// .a-picture--rounded-medium {
//   @extend .a-image--rounded-medium;
// }

// .a-picture--rounded-large {
//   @extend .a-image--rounded-large;
// }

// .a-picture--rounded-full {
//   @extend .a-image--rounded-full;
// }
