<rk-seo-manager *ngIf="article" context="article" [data]="seoData"></rk-seo-manager>

<ng-container *ngIf="article; else noArticle">
	<div class="v-article">
		<div class="container v-article__image">
			<rk-picture [src]="article.previewImage.path" [alt]="article.title"></rk-picture>
		</div>
		<rk-content-block space="large" *ngIf="article">
				<rk-heading size="1" [text]="article.title"></rk-heading>
				<h2 class="v-article__publish-info">Publiziert am {{article.releaseDate | date:'dd. MMMM yyyy'}} von {{article.author}}</h2>
				<rk-richtext [text]="article.content"></rk-richtext>
				<div class="v-article__tags">
					<rk-tag-list [tags]="article.tags"></rk-tag-list>
				</div>
		</rk-content-block>
	</div>
</ng-container>

<ng-template #noArticle>
	<div class="container v-article__loader">
		<div class="row justify-content-center align-content-center align-items-center" style="text-align: center">
			<rk-spinner></rk-spinner>
		</div>
	</div>
</ng-template>
