.v-event__intro {
  padding: 40px 0;
}

.v-event__intro__meta-info {
  margin: 10px 0;
}
.v-event__description {
  margin: 0 auto;
}

.v-event__actions .v-event__actions-row {
  margin: 50px auto;

  > * {
    margin: 10px;
    display: inline;
  }
}
