<rk-seo-manager *ngIf="event" context="event" [data]="event"></rk-seo-manager>

<div class="v-event__intro">
	<div *ngIf="event" class="container h-text-align--center">
			<p class="v-event__back-link">
				<a [routerLink]="['/events']">
					<rk-icon select="arrow-left" color="#585858"></rk-icon>
					Alle Events
				</a>
			</p>
			<rk-heading size="2" visualSize="1" [text]="event.title"></rk-heading>
			<h3 class="v-event__intro-meta-info">
				Am {{event.date | date: 'dd.MM.yyyy' }} in {{event.location.city}} ({{event.location.canton}}, {{event.location.country}})
			</h3>
	</div>
</div>

<div *ngIf="event" class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-8 v-event__description">
			<rk-richtext [text]="event.description"></rk-richtext>
		</div>
	</div>
</div>

<div *ngIf="event" class="v-event__actions container">
	<div class="row align-items-center justify-content-center v-event__actions-row">
		<rk-button-link
			*ngIf="event.tickets && event.tickets.externalShopLink"
			[href]="trackableCheckoutLink"
			[secure]="true"
			[label]="event.title"
			modifier="tickets"
			campaign="event-detail"
			gtmLeapCategory="commerce"
			gtmLeapAction="Buy Tickets"
		>
			<rk-icon select="credit-card" color="#000" width="23px" height="23px"></rk-icon>
			Tickets kaufen
		</rk-button-link>
		<rk-button-link
			*ngIf="event.facebookUrl"
			[href]="event.facebookUrl"
			[campaign]="event.title"
			[secure]="true"
			[label]="event.title"
			modifier="facebook"
			campaign="event-detail"
			gtmLeapCategory="social"
			gtmLeapAction="Visit Facebook Event"
		>
			<rk-icon select="facebook3" width="23px" height="23px"></rk-icon>
			Facebook Event
		</rk-button-link>
		<rk-button-link
			*ngIf="event.location.googleMapsURL"
			[href]="event.location.googleMapsURL"
			[secure]="true"
			[label]="event.title"
			modifier="green"
			campaign="event-detail"
			gtmLeapCategory="service"
			gtmLeapAction="Show Maps Location"
		>
			<rk-icon select="map" color="#fff" width="23px" height="23px"></rk-icon>
			In Maps öffnen
		</rk-button-link>
	</div>
</div>

<rk-content-block
	*ngIf="event && event.impression && event.impression.images"
	[heading]="impressionTitle"
	color="grey-lighter"
	centerHeading="true"
	space="xlarge"
>
	<div class="container">
		<div class="row">
			<div class="col-12">
				<p class="h-text-align--center" [innerHTML]="impression.description"></p>
			</div>
		</div>
		<div class="row v-event__impression-images">
			<div *ngFor="let impressionImage of impression.images" class="col-12 col-md-6 v-event__impression-image">
				<rk-picture [src]="impressionImage.path"></rk-picture>
			</div>
		</div>
		<div class="row v-event__impression-link-wrapper">
			<div class="col-12 h-text-align--center">
				<rk-link
					href="/impressions/{{impression.slug}}"
					text="Alle Impressionen – {{impression.title}}"
					showIndicator="true"
					icon="arrow-right"
					iconPosition="post"
					iconColor="#000000"
				></rk-link>
			</div>
		</div>
	</div>
</rk-content-block>

<div *ngIf="shouldShowMaps" class="v-event__map">
	<rk-map [url]="event.location.googleMapsURL" theme="medium" [zoom]="event.location.zoomLevel"></rk-map>
</div>

<rk-content-block *ngIf="eventsPageData" [heading]="eventsPageData.articlesTeaserTitle" color="black" [centerHeading]="true" space="xlarge">
	<div *ngIf="articles && articles.length" class="v-event__articles container">
		<div class="row justify-content-center align-self-center">
			<div *ngFor="let article of articles" class="v-event__article col-xs-12 col-md-6 col-lg-4">
				<rk-teaser
					*ngIf="article && article._id"
					[disableAnimation]="true"
					[id]="article._id"
					[title]="article.title"
					subtitle="Publiziert am {{article.releaseDate | date:'dd.MM.yy'}} von {{article.author}}"
					[excerpt]="article.excerpt"
					[tags]="article.tags"
					[previewImage]="article.previewImage"
					(hovered)="preloadArticle(article._id)"
				></rk-teaser>
			</div>
		</div>
	</div>
</rk-content-block>
