<footer class="o-footer">
  <div class="container container-fluid">
    <div class="row">
			<div class="col-xs-12 col-md-4">
				<app-logo highlight=true id="rheinklang"></app-logo>
			</div>
      <div class="col-xs-12 col-md-4">
        <h5>Title 1</h5>
        <ul>
          <li>
            <app-link href="#" text="Link 1"></app-link>
          </li>
          <li>
            <app-link target="_blank" href="https://google.ch" text="Link 2"></app-link>
          </li>
          <li>
            <app-link href="#" text="Link 3"></app-link>
          </li>
        </ul>
      </div>
      <div class="col-xs-12 col-md-4">
        <h5>Title 2</h5>
        <ul>
          <li>
            <app-link href="#" text="Link 1" icon="box"></app-link>
          </li>
          <li>
            <app-link href="#" text="Link 2"></app-link>
          </li>
          <li>
            <app-link target="_blank" href="https://google.ch" text="Link 3"></app-link>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
