<footer class="o-footer">
  <div class="container o-footer__content">
    <div class="row o-footer__content-section">
			<div class="col-12 col-md-3">
				<rk-heading size="3" text="Über uns" blockTitle="true"></rk-heading>
				<p class="o-footer__content-text">Wir sind Rheinklang, ein gemeinnütziger Verein aus dem St. Galler Rheintal mit Liebe zur elektronischen Musik.</p>
				<p class="o-footer__content-text"><em>Aus der Region, für die Region.</em></p>
			</div>
      <div class="col-12 col-md-3">
				<rk-link-list title="Seiten" headingSize="3" color="white">
					<rk-link href="/events" text="Aktuelle Events"></rk-link>
					<rk-link href="/sponsors" text="Partner & Sponsoren"></rk-link>
					<rk-link href="/about" text="Unser Team"></rk-link>
					<rk-link href="/privacy" text="Datenschutz"></rk-link>
					<rk-link href="/contact" text="Kontakt"></rk-link>
				</rk-link-list>
      </div>
      <div class="col-12 col-md-3">
				<rk-link-list title="Social Media" headingSize="3" color="white">
					<rk-link text="Facebook" href="https://facebook.com/rhnklng" target="_blank" iconPosition="pre" icon="facebook3"></rk-link>
					<rk-link text="Instagram" href="https://instagram.com/rheinklang" target="_blank" iconPosition="pre" icon="instagram1"></rk-link>
					<rk-link text="Kontakt" [href]="contactMailLink" target="_blank" iconPosition="pre" icon="mail"></rk-link>
				</rk-link-list>
			</div>
			<div class="col-12 col-md-3">
				<rk-logo highlight=true id="rheinklang" location="footer"></rk-logo>
			</div>
		</div>
		<!-- TODO: Release 2.0 Newsletter integration -->
		<!-- <div class="row o-footer__content-section">
			<div class="col-12 col-md-6">
				<rk-heading size="3" text="Newsletter"></rk-heading>
				<rk-newsletter></rk-newsletter>
			</div>
		</div> -->
	</div>
	<div class="o-footer__legal">
		<div class="container">
			<div class="row">
				<div class="col-12 col-md-9">
						<p class="o-footer__copyright">Copyright &copy; {{year}} Verein Rheinklang, Widnau (Switzerland) <span class="o-footer__ch-flag"></span></p>
				</div>
				<div class="col-12 col-md-3">
					<p class="o-footer__build-no">[{{build}}]</p>
				</div>
			</div>
		</div>
	</div>
</footer>
