<rk-seo-manager context="home"></rk-seo-manager>
<div class="v-about__header-slider js-v-about__header-slider">
	<div class="v-about__track glide__track" data-glide-el="track">
		<ul class="v-about__slides glide__slides">
			<li *ngFor="let slide of slides" class="v-about__slide">
				<rk-picture *ngIf="slide.image" [src]="slide.image.path" [alt]="slide.title"></rk-picture>
				<div class="v-about__slide-content col-xs-12">
					<h2 class="a-heading a-heading--2" *ngIf="slide.title">{{slide.title}}</h2>
					<p *ngIf="slide.content">{{slide.content}}</p>
					<p class="v-about__slide-content-link">
						<rk-link *ngIf="slide.ctaLink && slide.ctaText" prefetch="true" [text]="slide.ctaText" [routerLink]="slide.ctaLink" color="white" showIndicator="true"></rk-link>
					</p>
				</div>
			</li>
		</ul>
	</div>

	<div class="glide__arrows" *ngIf="slides.length > 1" data-glide-el="controls">
		<button class="v-about__arrow glide__arrow glide__arrow--left" data-glide-dir="<">
			<rk-icon select="arrow-left" height="20px" width="20px"></rk-icon>
		</button>
		<button class="v-about__arrow glide__arrow glide__arrow--right" data-glide-dir=">">
			<rk-icon select="arrow-right" height="20px" width="20px"></rk-icon>
		</button>
	</div>

	<div class="glide__bullets" *ngIf="slides.length > 1" data-glide-el="controls[nav]">
		<button class="glide__bullet" data-glide-dir="=0" *ngFor="let slide of slides" [attr.data-glide-dir]="'=' + slide.index"></button>
	</div>
</div>
<rk-content-block color="grey-lighter" heading="Neuigkeiten & mehr ({{getCurrentArticleCount()}})" space="xlarge">
	<div class="row">
		<div class="col-12 v-home__article-filter">
			<rk-tag-list
				[interactive]="true"
				[tags]="tags"
				[active]="activeTagId"
				(clicked)="setActiveTag($event)"
			></rk-tag-list>
		</div>
		<ng-container *ngIf="!articlesLoaded">
			<div class="v-home__article-placeholder col-12 col-sm-12 col-md-6 col-lg-4">
				<rk-content-loader-teaser-article></rk-content-loader-teaser-article>
			</div>
			<div class="v-home__article-placeholder col-12 col-sm-12 col-md-6 col-lg-4">
				<rk-content-loader-teaser-article></rk-content-loader-teaser-article>
			</div>
			<div class="v-home__article-placeholder col-12 col-sm-12 col-md-6 col-lg-4">
				<rk-content-loader-teaser-article></rk-content-loader-teaser-article>
			</div>
		</ng-container>
		<div *ngFor="let article of articles" class="col-12 col-sm-12 col-md-6 col-lg-4">
			<rk-teaser
				routerLink="/articles/{{article._id}}"
				[title]="article.title"
				subtitle="Publiziert am {{article.releaseDate | date:'dd.MM.yy'}} von {{article.author}}"
				[excerpt]="article.excerpt"
				[tags]="article.tags"
				[previewImage]="article.previewImage"
				(hovered)="preloadArticle(article._id)"
			></rk-teaser>
		</div>
	</div>
</rk-content-block>
