@import "../../styles/colors.scss";
@import "../../styles/responsive.scss";

// SLIDER

.v-about__header-slider {
  // min-height: 250px;
  background-color: $color-grey-400;
}

.v-about__slides {
  margin: 0;
  position: relative;
}

.v-about__slide {
  position: relative;
}

.v-home__event-teaser {
  color: $color-black;
  margin-left: auto;
  margin-right: auto;
}

.v-home__news-entry {
  margin-bottom: 30px;
}

// .v-about__slide {
// 	// TODO:
// }

.v-about__slide-content {
  @include respond-to-max("md") {
    background-color: $color-black;
  }

  @include respond-to-min("md") {
    position: absolute;
    // top: 30%;
    top: 22%;
    text-align: center;
    display: block;
    width: 100%;

    h2,
    p {
      max-width: 600px;
      margin: 0 auto 30px auto;
    }

    h2 {
      font-size: 40px;
    }

    p {
      font-size: 19px;
      line-height: 25px;
    }
  }

  > * {
    white-space: normal;
    margin-left: 10px;
    margin-right: 10px;
  }
}

.v-about__slide-content h2:first-child {
  @include respond-to-max("md") {
    margin: 0 0 10px 0;
    padding-top: 25px;
  }
}

.v-about__slide-content p:last-of-type {
  @include respond-to-max("md") {
    margin-bottom: 0;
    padding-bottom: 25px;
  }
}

.v-about__slide-content h2,
.v-about__slide-content p {
  text-align: center;
  color: $color-white;

  @include respond-to-min("md") {
    text-shadow: 0 3px 5px $color-black;
  }
}

.v-home__article-filter {
  margin-top: 20px;
  margin-bottom: 20px;
}

.v-about__arrow {
  @include respond-to-max("sm") {
    display: none;
  }
}

// OVERRIDES

.glide__bullets {
  @include respond-to-max("sm") {
    display: none;
  }
}

// .v-about__arrows {
//   width: 100%;
//   position: absolute;
//   top: 50%;
//   height: 30px;
//   transform: translate(0, 50%);

//   .v-about__arrow {
//     appearance: none;
//     -webkit-appearance: none;
//   }

//   .v-about__arrows-aligner {
//     position: relative;
//   }

//   .v-bout__arrow--left,
//   .v-bout__arrow--right {
//     background-color: transparent;
//     border: none;

//     svg {
//       width: 20px;
//       height: 20px;
//     }
//   }

//   .v-bout__arrow--left {
//     position: absolute;
//     left: 0;
//     // transform: translate(0, 50%);
//   }

//   .v-bout__arrow--right {
//     position: absolute;
//     right: 0;
//     // transform: translate(100%, 50%);
//   }
// }

// PLACEHOLDERS

.v-home__article-placeholder {
  margin-bottom: 20px;
}
