<rk-seo-manager context="home"></rk-seo-manager>

<!-- stage slider -->
<rk-stage-slider *ngIf="slides.length > 0" id="home" [slides]="slides"></rk-stage-slider>

<!-- news articles -->
<rk-content-block color="grey-lighter" heading="Neuigkeiten & mehr ({{getCurrentArticleCount()}})" space="xlarge">
	<div class="row">
		<div class="col-12 v-home__article-filter">
			<rk-tag-list
				[interactive]="true"
				[tags]="tags"
				[active]="activeTagId"
				(clicked)="setActiveTag($event)"
			></rk-tag-list>
		</div>
		<ng-container *ngIf="!articlesLoaded">
			<div class="v-home__article-placeholder col-12 col-sm-12 col-md-6 col-lg-4">
				<rk-content-loader-teaser-article></rk-content-loader-teaser-article>
			</div>
			<div class="v-home__article-placeholder col-12 col-sm-12 col-md-6 col-lg-4">
				<rk-content-loader-teaser-article></rk-content-loader-teaser-article>
			</div>
			<div class="v-home__article-placeholder col-12 col-sm-12 col-md-6 col-lg-4">
				<rk-content-loader-teaser-article></rk-content-loader-teaser-article>
			</div>
		</ng-container>
		<div *ngFor="let article of filteredArticles" class="v-home__news-entry col-12 col-sm-12 col-md-6 col-lg-4">
			<rk-teaser
				link="/articles/{{article.slug}}"
				subtitle="Publiziert am {{article.releaseDate | date:'dd.MM.yy'}} von {{article.author}}"
				[title]="article.title"
				[excerpt]="article.excerpt"
				[tags]="article.tags"
				[previewImage]="article.previewImage"
				(hovered)="preloadArticle(article._id)"
			></rk-teaser>
		</div>
	</div>
</rk-content-block>

<!-- event preview -->
<rk-content-block color="black" heading="Aktuelle Veranstaltung" space="xxlarge" centerHeading="true">
	<br />
	<div class="row justify-content-center">
		<div class="col-xs-12 col-sm-10 col-md-8 col-xl-6 v-home__event-teaser" *ngIf="eventTeaser">
			<rk-teaser-event
				*ngIf="eventTeaser"
				[location]="eventTeaser.location"
				[date]="eventTeaser.date"
				[description]="eventTeaser.description"
				[type]="eventTeaser.type"
				[title]="eventTeaser.title"
				[previewImage]="eventTeaser.previewImage"
				[slug]="eventTeaser.slug"
				(mouseover)="preloadEvent(eventTeaser.slug)"
			></rk-teaser-event>
		</div>
	</div>
</rk-content-block>
