@import "../../styles/colors.scss";
@import "../../styles/responsive.scss";

.v-home__event-teaser {
  color: $color-black;
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto 15px auto;
}

.v-home__news-entry {
  margin-bottom: 30px;
}

.v-home__article-filter {
  margin: 0 0 15px 0;
}

// OVERRIDES

.glide__bullets {
  @include respond-to-max("sm") {
    display: none;
  }
}

// PLACEHOLDERS

.v-home__article-placeholder {
  margin-bottom: 20px;
}
