:host[xs="12"] {
	background-color: red;
}
.h-col--reverse {
	-webkit-box-orient: vertical;
	-webkit-box-direction: reverse;
	-ms-flex-direction: column-reverse;
	flex-direction: column-reverse;
}

.h-col--xs,
:host[xs="1"],
:host[xs="2"],
:host[xs="3"],
:host[xs="4"],
:host[xs="5"],
:host[xs="6"],
:host[xs="7"],
:host[xs="8"],
:host[xs="9"],
:host[xs="10"],
:host[xs="11"],
:host[xs="12"],
.h-col--xs-offset-0,
.h-col--xs-offset-1,
.h-col--xs-offset-2,
.h-col--xs-offset-3,
.h-col--xs-offset-4,
.h-col--xs-offset-5,
.h-col--xs-offset-6,
.h-col--xs-offset-7,
.h-col--xs-offset-8,
.h-col--xs-offset-9,
.h-col--xs-offset-10,
.h-col--xs-offset-11,
.h-col--xs-offset-12 {
	box-sizing: border-box;
	-webkit-box-flex: 0;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	padding-right: 0.5rem;
	padding-left: 0.5rem;
}

.h-col--xs {
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	-ms-flex-preferred-size: 0;
	flex-basis: 0;
	max-width: 100%;
}

:host[xs="1"] {
	-ms-flex-preferred-size: 8.33333333%;
	flex-basis: 8.33333333%;
	max-width: 8.33333333%;
}

:host[xs="2"] {
	-ms-flex-preferred-size: 16.66666667%;
	flex-basis: 16.66666667%;
	max-width: 16.66666667%;
}

:host[xs="3"] {
	-ms-flex-preferred-size: 25%;
	flex-basis: 25%;
	max-width: 25%;
}

:host[xs="4"] {
	-ms-flex-preferred-size: 33.33333333%;
	flex-basis: 33.33333333%;
	max-width: 33.33333333%;
}

:host[xs="5"] {
	-ms-flex-preferred-size: 41.66666667%;
	flex-basis: 41.66666667%;
	max-width: 41.66666667%;
}

:host[xs="6"] {
	-ms-flex-preferred-size: 50%;
	flex-basis: 50%;
	max-width: 50%;
}

:host[xs="7"] {
	-ms-flex-preferred-size: 58.33333333%;
	flex-basis: 58.33333333%;
	max-width: 58.33333333%;
}

:host[xs="8"] {
	-ms-flex-preferred-size: 66.66666667%;
	flex-basis: 66.66666667%;
	max-width: 66.66666667%;
}

:host[xs="9"] {
	-ms-flex-preferred-size: 75%;
	flex-basis: 75%;
	max-width: 75%;
}

:host[xs="10"] {
	-ms-flex-preferred-size: 83.33333333%;
	flex-basis: 83.33333333%;
	max-width: 83.33333333%;
}

:host[xs="11"] {
	-ms-flex-preferred-size: 91.66666667%;
	flex-basis: 91.66666667%;
	max-width: 91.66666667%;
}

:host[xs="12"] {
	-ms-flex-preferred-size: 100%;
	flex-basis: 100%;
	max-width: 100%;
}

.h-col--xs-offset-0 {
	margin-left: 0;
}

.h-col--xs-offset-1 {
	margin-left: 8.33333333%;
}

.h-col--xs-offset-2 {
	margin-left: 16.66666667%;
}

.h-col--xs-offset-3 {
	margin-left: 25%;
}

.h-col--xs-offset-4 {
	margin-left: 33.33333333%;
}

.h-col--xs-offset-5 {
	margin-left: 41.66666667%;
}

.h-col--xs-offset-6 {
	margin-left: 50%;
}

.h-col--xs-offset-7 {
	margin-left: 58.33333333%;
}

.h-col--xs-offset-8 {
	margin-left: 66.66666667%;
}

.h-col--xs-offset-9 {
	margin-left: 75%;
}

.h-col--xs-offset-10 {
	margin-left: 83.33333333%;
}

.h-col--xs-offset-11 {
	margin-left: 91.66666667%;
}

.start-xs {
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	text-align: start;
}

.center-xs {
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	text-align: center;
}

.end-xs {
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	text-align: end;
}

.top-xs {
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
}

.middle-xs {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.bottom-xs {
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
}

.around-xs {
	-ms-flex-pack: distribute;
	justify-content: space-around;
}

.between-xs {
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.first-xs {
	-webkit-box-ordinal-group: 0;
	-ms-flex-order: -1;
	order: -1;
}

.last-xs {
	-webkit-box-ordinal-group: 2;
	-ms-flex-order: 1;
	order: 1;
}

@media only screen and (min-width: 48em) {
	.container {
		width: 49rem;
	}

	.h-col--sm,
	:host[sm="1"],
	:host[sm="2"],
	:host[sm="3"],
	:host[sm="4"],
	:host[sm="5"],
	:host[sm="6"],
	:host[sm="7"],
	:host[sm="8"],
	:host[sm="9"],
	:host[sm="10"],
	:host[sm="11"],
	:host[sm="12"],
	.h-col--sm-offset-0,
	.h-col--sm-offset-1,
	.h-col--sm-offset-2,
	.h-col--sm-offset-3,
	.h-col--sm-offset-4,
	.h-col--sm-offset-5,
	.h-col--sm-offset-6,
	.h-col--sm-offset-7,
	.h-col--sm-offset-8,
	.h-col--sm-offset-9,
	.h-col--sm-offset-10,
	.h-col--sm-offset-11,
	.h-col--sm-offset-12 {
		box-sizing: border-box;
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		padding-right: 0.5rem;
		padding-left: 0.5rem;
	}

	.h-col--sm {
		-webkit-box-flex: 1;
		-ms-flex-positive: 1;
		flex-grow: 1;
		-ms-flex-preferred-size: 0;
		flex-basis: 0;
		max-width: 100%;
	}

	.h-col--sm-1 {
		-ms-flex-preferred-size: 8.33333333%;
		flex-basis: 8.33333333%;
		max-width: 8.33333333%;
	}

	.h-col--sm-2 {
		-ms-flex-preferred-size: 16.66666667%;
		flex-basis: 16.66666667%;
		max-width: 16.66666667%;
	}

	.h-col--sm-3 {
		-ms-flex-preferred-size: 25%;
		flex-basis: 25%;
		max-width: 25%;
	}

	.h-col--sm-4 {
		-ms-flex-preferred-size: 33.33333333%;
		flex-basis: 33.33333333%;
		max-width: 33.33333333%;
	}

	.h-col--sm-5 {
		-ms-flex-preferred-size: 41.66666667%;
		flex-basis: 41.66666667%;
		max-width: 41.66666667%;
	}

	.h-col--sm-6 {
		-ms-flex-preferred-size: 50%;
		flex-basis: 50%;
		max-width: 50%;
	}

	.h-col--sm-7 {
		-ms-flex-preferred-size: 58.33333333%;
		flex-basis: 58.33333333%;
		max-width: 58.33333333%;
	}

	.h-col--sm-8 {
		-ms-flex-preferred-size: 66.66666667%;
		flex-basis: 66.66666667%;
		max-width: 66.66666667%;
	}

	.h-col--sm-9 {
		-ms-flex-preferred-size: 75%;
		flex-basis: 75%;
		max-width: 75%;
	}

	.h-col--sm-10 {
		-ms-flex-preferred-size: 83.33333333%;
		flex-basis: 83.33333333%;
		max-width: 83.33333333%;
	}

	.h-col--sm-11 {
		-ms-flex-preferred-size: 91.66666667%;
		flex-basis: 91.66666667%;
		max-width: 91.66666667%;
	}

	.h-col--sm-12 {
		-ms-flex-preferred-size: 100%;
		flex-basis: 100%;
		max-width: 100%;
	}

	.h-col--sm-offset-0 {
		margin-left: 0;
	}

	.h-col--sm-offset-1 {
		margin-left: 8.33333333%;
	}

	.h-col--sm-offset-2 {
		margin-left: 16.66666667%;
	}

	.h-col--sm-offset-3 {
		margin-left: 25%;
	}

	.h-col--sm-offset-4 {
		margin-left: 33.33333333%;
	}

	.h-col--sm-offset-5 {
		margin-left: 41.66666667%;
	}

	.h-col--sm-offset-6 {
		margin-left: 50%;
	}

	.h-col--sm-offset-7 {
		margin-left: 58.33333333%;
	}

	.h-col--sm-offset-8 {
		margin-left: 66.66666667%;
	}

	.h-col--sm-offset-9 {
		margin-left: 75%;
	}

	.h-col--sm-offset-10 {
		margin-left: 83.33333333%;
	}

	.h-col--sm-offset-11 {
		margin-left: 91.66666667%;
	}

	.start-sm {
		-webkit-box-pack: start;
		-ms-flex-pack: start;
		justify-content: flex-start;
		text-align: start;
	}

	.center-sm {
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		text-align: center;
	}

	.end-sm {
		-webkit-box-pack: end;
		-ms-flex-pack: end;
		justify-content: flex-end;
		text-align: end;
	}

	.top-sm {
		-webkit-box-align: start;
		-ms-flex-align: start;
		align-items: flex-start;
	}

	.middle-sm {
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}

	.bottom-sm {
		-webkit-box-align: end;
		-ms-flex-align: end;
		align-items: flex-end;
	}

	.around-sm {
		-ms-flex-pack: distribute;
		justify-content: space-around;
	}

	.between-sm {
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}

	.first-sm {
		-webkit-box-ordinal-group: 0;
		-ms-flex-order: -1;
		order: -1;
	}

	.last-sm {
		-webkit-box-ordinal-group: 2;
		-ms-flex-order: 1;
		order: 1;
	}
}

@media only screen and (min-width: 64em) {
	.container {
		width: 65rem;
	}

	.h-col--md,
	:host[md="1"],
	:host[md="2"],
	:host[md="3"],
	:host[md="4"],
	:host[md="5"],
	:host[md="6"],
	:host[md="7"],
	:host[md="8"],
	:host[md="9"],
	:host[md="10"],
	:host[md="11"],
	:host[md="12"],
	.h-col--md-offset-0,
	.h-col--md-offset-1,
	.h-col--md-offset-2,
	.h-col--md-offset-3,
	.h-col--md-offset-4,
	.h-col--md-offset-5,
	.h-col--md-offset-6,
	.h-col--md-offset-7,
	.h-col--md-offset-8,
	.h-col--md-offset-9,
	.h-col--md-offset-10,
	.h-col--md-offset-11,
	.h-col--md-offset-12 {
		box-sizing: border-box;
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		padding-right: 0.5rem;
		padding-left: 0.5rem;
	}

	.h-col--md {
		-webkit-box-flex: 1;
		-ms-flex-positive: 1;
		flex-grow: 1;
		-ms-flex-preferred-size: 0;
		flex-basis: 0;
		max-width: 100%;
	}

	.h-col--md-1 {
		-ms-flex-preferred-size: 8.33333333%;
		flex-basis: 8.33333333%;
		max-width: 8.33333333%;
	}

	.h-col--md-2 {
		-ms-flex-preferred-size: 16.66666667%;
		flex-basis: 16.66666667%;
		max-width: 16.66666667%;
	}

	.h-col--md-3 {
		-ms-flex-preferred-size: 25%;
		flex-basis: 25%;
		max-width: 25%;
	}

	.h-col--md-4 {
		-ms-flex-preferred-size: 33.33333333%;
		flex-basis: 33.33333333%;
		max-width: 33.33333333%;
	}

	.h-col--md-5 {
		-ms-flex-preferred-size: 41.66666667%;
		flex-basis: 41.66666667%;
		max-width: 41.66666667%;
	}

	.h-col--md-6 {
		-ms-flex-preferred-size: 50%;
		flex-basis: 50%;
		max-width: 50%;
	}

	.h-col--md-7 {
		-ms-flex-preferred-size: 58.33333333%;
		flex-basis: 58.33333333%;
		max-width: 58.33333333%;
	}

	.h-col--md-8 {
		-ms-flex-preferred-size: 66.66666667%;
		flex-basis: 66.66666667%;
		max-width: 66.66666667%;
	}

	.h-col--md-9 {
		-ms-flex-preferred-size: 75%;
		flex-basis: 75%;
		max-width: 75%;
	}

	.h-col--md-10 {
		-ms-flex-preferred-size: 83.33333333%;
		flex-basis: 83.33333333%;
		max-width: 83.33333333%;
	}

	.h-col--md-11 {
		-ms-flex-preferred-size: 91.66666667%;
		flex-basis: 91.66666667%;
		max-width: 91.66666667%;
	}

	.h-col--md-12 {
		-ms-flex-preferred-size: 100%;
		flex-basis: 100%;
		max-width: 100%;
	}

	.h-col--md-offset-0 {
		margin-left: 0;
	}

	.h-col--md-offset-1 {
		margin-left: 8.33333333%;
	}

	.h-col--md-offset-2 {
		margin-left: 16.66666667%;
	}

	.h-col--md-offset-3 {
		margin-left: 25%;
	}

	.h-col--md-offset-4 {
		margin-left: 33.33333333%;
	}

	.h-col--md-offset-5 {
		margin-left: 41.66666667%;
	}

	.h-col--md-offset-6 {
		margin-left: 50%;
	}

	.h-col--md-offset-7 {
		margin-left: 58.33333333%;
	}

	.h-col--md-offset-8 {
		margin-left: 66.66666667%;
	}

	.h-col--md-offset-9 {
		margin-left: 75%;
	}

	.h-col--md-offset-10 {
		margin-left: 83.33333333%;
	}

	.h-col--md-offset-11 {
		margin-left: 91.66666667%;
	}

	.start-md {
		-webkit-box-pack: start;
		-ms-flex-pack: start;
		justify-content: flex-start;
		text-align: start;
	}

	.center-md {
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		text-align: center;
	}

	.end-md {
		-webkit-box-pack: end;
		-ms-flex-pack: end;
		justify-content: flex-end;
		text-align: end;
	}

	.top-md {
		-webkit-box-align: start;
		-ms-flex-align: start;
		align-items: flex-start;
	}

	.middle-md {
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}

	.bottom-md {
		-webkit-box-align: end;
		-ms-flex-align: end;
		align-items: flex-end;
	}

	.around-md {
		-ms-flex-pack: distribute;
		justify-content: space-around;
	}

	.between-md {
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}

	.first-md {
		-webkit-box-ordinal-group: 0;
		-ms-flex-order: -1;
		order: -1;
	}

	.last-md {
		-webkit-box-ordinal-group: 2;
		-ms-flex-order: 1;
		order: 1;
	}
}

@media only screen and (min-width: 75em) {
	.container {
		width: 76rem;
	}

	.h-col--lg,
	:host[lg="1"],
	:host[lg="2"],
	:host[lg="3"],
	:host[lg="4"],
	:host[lg="5"],
	:host[lg="6"],
	:host[lg="7"],
	:host[lg="8"],
	:host[lg="9"],
	:host[lg="10"],
	:host[lg="11"],
	:host[lg="12"],
	.h-col--lg-offset-0,
	.h-col--lg-offset-1,
	.h-col--lg-offset-2,
	.h-col--lg-offset-3,
	.h-col--lg-offset-4,
	.h-col--lg-offset-5,
	.h-col--lg-offset-6,
	.h-col--lg-offset-7,
	.h-col--lg-offset-8,
	.h-col--lg-offset-9,
	.h-col--lg-offset-10,
	.h-col--lg-offset-11,
	.h-col--lg-offset-12 {
		box-sizing: border-box;
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		padding-right: 0.5rem;
		padding-left: 0.5rem;
	}

	.h-col--lg {
		-webkit-box-flex: 1;
		-ms-flex-positive: 1;
		flex-grow: 1;
		-ms-flex-preferred-size: 0;
		flex-basis: 0;
		max-width: 100%;
	}

	.h-col--lg-1 {
		-ms-flex-preferred-size: 8.33333333%;
		flex-basis: 8.33333333%;
		max-width: 8.33333333%;
	}

	.h-col--lg-2 {
		-ms-flex-preferred-size: 16.66666667%;
		flex-basis: 16.66666667%;
		max-width: 16.66666667%;
	}

	.h-col--lg-3 {
		-ms-flex-preferred-size: 25%;
		flex-basis: 25%;
		max-width: 25%;
	}

	.h-col--lg-4 {
		-ms-flex-preferred-size: 33.33333333%;
		flex-basis: 33.33333333%;
		max-width: 33.33333333%;
	}

	.h-col--lg-5 {
		-ms-flex-preferred-size: 41.66666667%;
		flex-basis: 41.66666667%;
		max-width: 41.66666667%;
	}

	.h-col--lg-6 {
		-ms-flex-preferred-size: 50%;
		flex-basis: 50%;
		max-width: 50%;
	}

	.h-col--lg-7 {
		-ms-flex-preferred-size: 58.33333333%;
		flex-basis: 58.33333333%;
		max-width: 58.33333333%;
	}

	.h-col--lg-8 {
		-ms-flex-preferred-size: 66.66666667%;
		flex-basis: 66.66666667%;
		max-width: 66.66666667%;
	}

	.h-col--lg-9 {
		-ms-flex-preferred-size: 75%;
		flex-basis: 75%;
		max-width: 75%;
	}

	.h-col--lg-10 {
		-ms-flex-preferred-size: 83.33333333%;
		flex-basis: 83.33333333%;
		max-width: 83.33333333%;
	}

	.h-col--lg-11 {
		-ms-flex-preferred-size: 91.66666667%;
		flex-basis: 91.66666667%;
		max-width: 91.66666667%;
	}

	.h-col--lg-12 {
		-ms-flex-preferred-size: 100%;
		flex-basis: 100%;
		max-width: 100%;
	}

	.h-col--lg-offset-0 {
		margin-left: 0;
	}

	.h-col--lg-offset-1 {
		margin-left: 8.33333333%;
	}

	.h-col--lg-offset-2 {
		margin-left: 16.66666667%;
	}

	.h-col--lg-offset-3 {
		margin-left: 25%;
	}

	.h-col--lg-offset-4 {
		margin-left: 33.33333333%;
	}

	.h-col--lg-offset-5 {
		margin-left: 41.66666667%;
	}

	.h-col--lg-offset-6 {
		margin-left: 50%;
	}

	.h-col--lg-offset-7 {
		margin-left: 58.33333333%;
	}

	.h-col--lg-offset-8 {
		margin-left: 66.66666667%;
	}

	.h-col--lg-offset-9 {
		margin-left: 75%;
	}

	.h-col--lg-offset-10 {
		margin-left: 83.33333333%;
	}

	.h-col--lg-offset-11 {
		margin-left: 91.66666667%;
	}

	.start-lg {
		-webkit-box-pack: start;
		-ms-flex-pack: start;
		justify-content: flex-start;
		text-align: start;
	}

	.center-lg {
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		text-align: center;
	}

	.end-lg {
		-webkit-box-pack: end;
		-ms-flex-pack: end;
		justify-content: flex-end;
		text-align: end;
	}

	.top-lg {
		-webkit-box-align: start;
		-ms-flex-align: start;
		align-items: flex-start;
	}

	.middle-lg {
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}

	.bottom-lg {
		-webkit-box-align: end;
		-ms-flex-align: end;
		align-items: flex-end;
	}

	.around-lg {
		-ms-flex-pack: distribute;
		justify-content: space-around;
	}

	.between-lg {
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}

	.first-lg {
		-webkit-box-ordinal-group: 0;
		-ms-flex-order: -1;
		order: -1;
	}

	.last-lg {
		-webkit-box-ordinal-group: 2;
		-ms-flex-order: 1;
		order: 1;
	}
}
