:host {
	margin-right: auto;
	margin-left: auto;
}

:host.h-container--fluid {
	padding-right: 2rem;
	padding-left: 2rem;
}

.row {
	box-sizing: border-box;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 0;
	-ms-flex: 0 1 auto;
	flex: 0 1 auto;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -0.5rem;
	margin-left: -0.5rem;
}

.row.reverse {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
	-ms-flex-direction: row-reverse;
	flex-direction: row-reverse;
}

@media only screen and (min-width: 48em) {
	.container {
		width: 49rem;
	}
}

@media only screen and (min-width: 64em) {
	.container {
		width: 65rem;
	}
}

@media only screen and (min-width: 75em) {
	.container {
		width: 76rem;
	}
}
