@import "../../../styles/colors.scss";
@import "../../../styles/responsive.scss";

$header-height: 80px;

.o-header {
	background-color: $color-primary-sea-green;
	color: #fff;
	padding: 10px 0;

	@include respond-to-min("sm") {
		min-height: 100px;
	}
}

.o-header .a-logo {
	height: $header-height;
}

.o-header rk-burger {
	display: inline-block;
	height: $header-height;
}

.o-header__navigation {
	text-align: right;

	@include respond-to-max("md") {
		display: none;
	}
}

.o-header__trigger-container {
	text-align: right;
	display: none;

	@include respond-to-max("md") {
		display: inline-block;
	}
}

.o-header__navigation-action {
	background-color: $color-white;
	background-color: #ffffff;
	padding: 4px;
	position: absolute;
	top: 22px;
	border-radius: 20px;

	@include respond-to-max("md") {
		top: 18px;
	}
}

.o-header__flyout {
	z-index: 9999;
	position: fixed;
	width: 80%;
	left: -100vh;
	top: 0;
	bottom: 0;
	background-color: $color-black;
	color: $color-white;
	transition: transform 0.3s ease-in-out;

	&.state-o-header-flyout--is-active {
		transform: translateX(100vh);
	}

	@include respond-to-min("md") {
		display: none;
	}
}

.o-header__flyout-list {
	padding: 0;
	margin: 0 0 40px 0;
	list-style: none;
	list-style-type: none;
	font-family: FVAlmelo, Lato, "Helvetica Neue", sans-serif;
}

.o-header__flyout-list-link {
	font-size: 23px;
	border-bottom: 1px solid darken($color-grey-100, 10);

	&:last-of-type {
		border-bottom: 0;
	}
}

$flyout-link-padding-base: 15px;

.o-header__flyout-list-link a {
	display: block;
	padding: #{$flyout-link-padding-base + 3} $flyout-link-padding-base $flyout-link-padding-base $flyout-link-padding-base;

	&::after {
		display: none;
	}
}

.o-header__flyout-list-link--active {
	color: $color-primary-retr-orange;
}

.o-header__flyout-close {
	text-align: center;
}
