<header class="o-header">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-4 col-md-2">
				<a class="a-link" routerLink="/" [title]="navigationTitles.homeTitle">
					<rk-logo [highlight]="true" id="smallRheinklang" location="header"></rk-logo>
				</a>
      </div>
      <nav class="o-header__navigation col-0 col-md-10 align-self-end" role="main">
        <rk-link-list layout="horizontal" type="main-navigation" color="white">
					<rk-link *ngFor="let navItem of navigationItems" [href]="navItem.url" [text]="navItem.title"></rk-link>
				</rk-link-list>
				<a class="o-header__navigation-action" routerLink="/settings" title="Einstellungen" aria-label="Einstellungen">
					<rk-icon select="settings" width="21" height="21" color="#0e3536"></rk-icon>
				</a>
			</nav>
			<div class="o-header__trigger-container col-8 align-self-end">
					<rk-burger [active]="flyoutNavigationOpen" (handleClick)="setFlyoutState(!flyoutNavigationOpen)"></rk-burger>
			</div>
		</div>
	</div>

	<div class="o-header__flyout" [class.state-o-header-flyout--is-active]="flyoutNavigationOpen">
		<ul class="o-header__flyout-list" layout="horizontal" type="main-navigation" color="white">
			<li
				*ngFor="let flyoutItem of navigationItems"
				(click)="hideFlyoutNavigation()"
				class="o-header__flyout-list-link"
				routerLinkActive="o-header__flyout-list-link--active"
				[routerLinkActiveOptions]="{exact:true}"
			>
				<a class="a-link" [routerLink]="flyoutItem.url">{{flyoutItem.title}}</a>
			</li>
			<li (click)="hideFlyoutNavigation()" class="o-header__flyout-list-link" routerLinkActive="o-header__flyout-list-link--active" [routerLinkActiveOptions]="{exact:true}">
				<a class="a-link" routerLink="/settings">Einstellungen</a>
			</li>
		</ul>
		<p class="o-header__flyout-close" (click)="setFlyoutState(false)">
			<rk-icon select="x-circle" height="40" width="40"></rk-icon>
		</p>
	</div>
</header>
