@import '../../../styles/colors.scss';
@import '../../../styles/spacings.scss';
@import '../../../styles/responsive.scss';

.o-content-block--space-small {
	.o-content-block__inner {
		padding: $space-small;
	}
}

.o-content-block--space-medium {
	.o-content-block__inner {
		padding: $space-medium;
	}
}

.o-content-block--space-large {
	.o-content-block__inner {
		padding: $space-large;
	}
}

.o-content-block--space-xlarge {
	.o-content-block__inner {
		padding: $space-xlarge;
	}
}

.o-content-block--space-xxlarge {
	.o-content-block__inner {
		padding: $space-xxlarge;
	}
}

.o-content-block--space-small,
.o-content-block--space-medium,
.o-content-block--space-large,
.o-content-block--space-xlarge,
.o-content-block--space-xxlarge {
	.o-content-block__inner {
		@include respond-to-max('sm') {
			padding-left: $space-grid-gutter;
			padding-right: $space-grid-gutter;
		}
	}
}
