@import "../../../styles/colors.scss";

.o-content-block--color-black {
  color: $color-white;
  background-color: $color-black;
}

.o-content-block--color-sea {
  color: $color-white;
  background-color: $color-primary-sea-green;
}
.o-content-block--color-sea-dark {
  color: $color-white;
  background-color: $color-primary-sea-green-dark1;
}
.o-content-block--color-sea-light {
  color: $color-white;
  background-color: $color-primary-sea-green-light1;
}

.o-content-block--color-red {
  color: $color-white;
  background-color: $color-primary-fury-red;
}
.o-content-block--color-red-dark {
  color: $color-white;
  background-color: $color-primary-fury-red-dark1;
}
.o-content-block--color-red-light {
  background-color: $color-primary-fury-red-light1;
}

.o-content-block--color-orange {
  background-color: $color-primary-retr-orange;
}
.o-content-block--color-orange-dark {
  background-color: $color-primary-retr-orange-dark1;
}
.o-content-block--color-orange-light {
  background-color: $color-primary-retr-orange-light1;
}

.o-content-block--color-grass {
  color: $color-white;
  background-color: $color-primary-grass-green;
}
.o-content-block--color-grass-dark {
  color: $color-white;
  background-color: $color-primary-grass-green-dark1;
}
.o-content-block--color-grass-light {
  background-color: $color-primary-grass-green-light1;
}

.o-content-block--color-grey {
  background-color: $color-grey-200;
}
.o-content-block--color-grey-dark {
  color: $color-white;
  background-color: $color-grey-100;
}
.o-content-block--color-grey-light {
  background-color: $color-grey-300;
}
.o-content-block--color-grey-lighter {
  background-color: $color-grey-400;
}
