@import "../../../styles/colors.scss";
@import "../../../styles/responsive.scss";
@import "../../../styles/shadows.scss";

rk-teaser {
  display: block;
}

.m-teaser {
  @include teaser-box-shadow();
  padding: 0;
  // margin: 0 15px;
  cursor: pointer;
  background-color: $color-white;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
  color: $color-black;
}

.m-teaser rk-image img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  @include respond-to-min("md") {
    height: 220px;
  }
}

.m-teaser__header {
  padding: 0 20px;
}

.m-teaser__footer {
  border-top: 1px solid $color-grey-400;
  padding: 20px;
}

.m-teaser__content {
  padding: 20px;
}

.m-teaser__excerpt {
  margin: 0;
}

.m-teaser__title {
  margin: 20px 0 10px 0;
}

.m-teaser__subtitle {
  color: $color-grey-200;
  font-weight: 300;
  font-size: 13px;
  margin: 0;
}
