@import "../../../styles/responsive.scss";
@import "../../organisms/header/header.component.scss";

.a-logo {
  display: block;
}

.a-logo--location-header {
  height: $header-height;
}

.a-logo--location-footer {
  width: 50%;
  margin: 0 auto;

  @include respond-to-min("sm") {
    margin: 0 0 0 50%;
  }
}
