@import "../../../styles/colors.scss";

.a-link {
  color: inherit;
  text-decoration: none;
  display: inline-block;

  &::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: $color-primary-sea-green;
    transition: width 0.3s;
  }

  &:hover::after {
    width: 100%;
  }
}

.a-link--static-indicator {
  &::after {
    width: 100%;
  }

  &:hover::after {
    width: 0;
  }
}

.a-link--white {
  color: #fff;
  &::after {
    background-color: #fff;
  }
}

.state-a-link--active {
  cursor: default;

  &::after {
    width: 100%;
  }

  &:hover::after {
    width: 100%;
  }
}
