<ng-template ngIf="target === '_blank'; #internal">
	<a
		class="a-link a-link--{{color || 'default'}}"
		[href]="href"
		[target]="target"
		[attr.rel]="needsRelationSafety ? 'noopener noreferrer' : null"
		[class.a-link--has-icon]="icon"
		[class.a-link--static-indicator]="showIndicator"
	>
		<rk-icon *ngIf="icon && iconPosition === 'pre'" [select]="icon"></rk-icon>
		{{text}}
		<rk-icon *ngIf="icon && iconPosition === 'post'" [select]="icon"></rk-icon>
	</a>
</ng-template>

<ng-template #internal>
	<a
		class="a-link a-link--{{color || 'default'}}"
		[class.a-link--has-icon]="icon"
		[class.a-link--static-indicator]="showIndicator"
		[routerLink]="[href]"
	>
		<rk-icon *ngIf="icon && iconPosition === 'pre'" [select]="icon"></rk-icon>
		{{text}}
		<rk-icon *ngIf="icon && iconPosition === 'post'" [select]="icon"></rk-icon>
	</a>
</ng-template>
