<ng-container *ngIf="target === '_blank'">
	<a
		class="a-link a-link--{{color || 'default'}}"
		[href]="href"
		[target]="target"
		[attr.rel]="needsRelationSafety ? 'noopener noreferrer' : null"
		[class.a-link--has-icon]="icon"
		[class.a-link--static-indicator]="showIndicator"
	>
		<rk-icon *ngIf="icon && iconPosition === 'pre'" [select]="icon"></rk-icon>
		{{text}}
		<rk-icon *ngIf="icon && iconPosition === 'post'" [select]="icon"></rk-icon>
	</a>
</ng-container>

<ng-container *ngIf="target !== '_blank'">
	<a
		class="a-link a-link--{{color || 'default'}}"
		routerLinkActive="state-a-link--active"
		[routerLinkActiveOptions]="{ exact: true }"
		[class.a-link--has-icon]="icon"
		[class.a-link--static-indicator]="showIndicator"
		[routerLink]="href"
	>
		<rk-icon *ngIf="icon && iconPosition === 'pre'" [select]="icon"></rk-icon>
		{{text}}
		<rk-icon *ngIf="icon && iconPosition === 'post'" [select]="icon"></rk-icon>
	</a>
</ng-container>
