<rk-seo-manager context="events-overview"></rk-seo-manager>

<rk-content-block
	*ngIf="pageData"
	color="sea-light"
	space="xlarge"
	centerHeading="true"
	skew="true"
	size="1"
	[heading]="pageData.title"
>
	<div class="row">
			<div class="col-12 o-content-block__text" [innerHTML]="pageData.description"></div>
	</div>
</rk-content-block>

<div *ngIf="!events || events.length === 0" class="v-events-overview container">
	<div class="row v-events-overview__year">
		<div class="col-12">
			<rk-content-loader-title></rk-content-loader-title>
		</div>
		<div class="col-xs-12 col-md-6">
			<rk-content-loader-teaser-event></rk-content-loader-teaser-event>
		</div>
		<div class="col-xs-12 col-md-6">
			<rk-content-loader-teaser-event></rk-content-loader-teaser-event>
		</div>
	</div>
	<div class="row v-events-overview__year">
		<div class="col-12">
			<rk-content-loader-title></rk-content-loader-title>
		</div>
		<div class="col-xs-12 col-md-6">
			<rk-content-loader-teaser-event></rk-content-loader-teaser-event>
		</div>
	</div>
</div>

<div *ngFor="let group of events" class="v-events-overview container">
	<div class="row v-events-overview__year" [id]="group.year">
		<div class="col-12">
			<a [routerLink]="['/events']" [fragment]="group.year" class="v-events-overview__year-link">
				<rk-heading size="2" text="Events – {{group.year}}" [iconPrefix]="eventGroupIcon"></rk-heading>
			</a>
		</div>
		<div *ngFor="let event of group.events" class="col-xs-12 col-md-6">
			<rk-teaser-event
				[slug]="event.slug"
				[title]="event.title"
				[date]="event.date"
				[description]="event.description"
				[type]="event.type"
				[facebookUrl]="event.facebookUrl"
				[link]="event.link"
				[linkType]="event.linkType"
				[previewImage]="event.previewImage"
				[secret]="event.secret"
				[tickets]="event.tickets"
				[location]="event.location"
				[canceled]="event.canceled"
			></rk-teaser-event>
		</div>
	</div>
</div>
