@import '../../styles/responsive.scss';

.v-events-overview {
	margin-bottom: 40px;
}
.v-events-overview .m-teaser-event {
	margin: 20px;
}

.v-events-overview rk-icon svg {
	vertical-align: middle;
}

.v-events-overview__year {
	margin-top: 30px;
}

.v-events-overview__year-link {
	text-decoration: none;
	color: inherit;
}

@include respond-to-max('sm') {
	.v-events-overview rk-heading h2 {
		text-align: center;
	}
}
