@import "../../../styles/responsive.scss";
@import "../../../styles/colors.scss";
@import "../../organisms/header/header.component.scss";
@import "../../organisms/footer/footer.component.scss";

$default-layout-content-inner-spacing: 20px;

:host main {
	// padding: $default-layout-content-inner-spacing 0;
	min-height: calc(100vh - #{$header-height + $footer-min-height} - #{$default-layout-content-inner-spacing * 2});
	margin-top: $effective-header-height-mobile;
	background-color: $color-white;

	@include respond-to-min("sm") {
		margin-top: 0;
	}

	&.l-default-layout--no-space {
		min-height: 0;
	}

	h2:first-of-type {
		margin-top: 0;
	}
}
