rk-content-loader-teaser-event,
rk-content-loader-teaser-event content-loader,
rk-content-loader-teaser-event content-loader svg {
	display: block;
	width: 100%;
}
rk-content-loader-teaser-event content-loader svg {
	display: block;
	width: 100%;
}
