<div class="a-coming-soon-page container">
	<div class="row">
		<div class="a-coming-soon-page__content col-12 col-md-10 col-lg-8 col-xl-6">
			<!-- <p class="a-coming-soon-page__icon-box">
					<rk-icon select="hard-drive" color="#000" width="50px" height="50px"></rk-icon>
			</p> -->
			<rk-spinner></rk-spinner>
			<rk-heading size="1" text="In Arbeit"></rk-heading>
			<p class="a-coming-soon-page__text">
				Diese Seite befindet sich derzeit noch im Aufbau, bitte komme später nochmals zurück.
			</p>
			<p>
				<rk-link href="/" text="Zurück zur Startseite"></rk-link>
			</p>
		</div>
	</div>
</div>
