<div class="a-spinner">
	<div class="a-spinner__wrapper">
		<div class="a-spinner__orbit a-spinner__orbit--blue"></div>
		<div class="a-spinner__orbit a-spinner__orbit--green"></div>
		<div class="a-spinner__orbit a-spinner__orbit--red"></div>
		<div class="a-spinner__orbit a-spinner__orbit--white a-spinner__orbit--w1"></div>
		<div class="a-spinner__orbit a-spinner__orbit--white a-spinner__orbit--w2"></div>
		<div class="a-spinner__orbit a-spinner__orbit--white a-spinner__orbit--w3"></div>
	</div>
</div>
