@import '../../../styles/colors.scss';
@import '../../atoms/input/input.component.scss';

:host {
	margin-top: 0;
}

:host input[type='submit'] {
	cursor: pointer;
	font-size: 10px;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin-left: 10px;
	background-color: $color-primary-sea-green-dark1;
	color: $color-white;
	border: none;
	border-radius: 5px;
	padding: 13px 15px;
	transition: background-color 0.2s ease-in-out;

	&:hover {
		background-color: $color-primary-sea-green;
	}
}
