rk-map,
.m-map--dynamic {
  display: block;
  min-height: 1px;

  rk-map[ready="true"],
  &.m-map--ready {
    min-height: 500px;
    height: auto;
  }
}

.m-map--dynamic {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  height: 1px;
  transition: all 0.25s ease-in-out;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 60px;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
    background-image: linear-gradient(to top, rgba(255, 255, 255, 10%), rgba(255, 255, 255, 1) 80%);
  }
}
