@import "../../../styles/colors.scss";
@import "../../../styles/responsive.scss";

rk-teaser-sponsor {
  display: block;
}

.m-teaser-sponsor {
  background-color: $color-white;
  display: block;
  padding: 20px;
  border-radius: 3px;

  rk-image {
    max-height: 200px;

    img {
      width: 80%;
      display: block;
      margin: 0 auto;
    }
  }

  h3 {
    font-size: 2rem;
  }

  @include respond-to-min("sm") {
    h3 {
      font-size: 1.1rem;
    }

    rk-image {
      img {
        width: 100%;
        display: block;
      }
    }
  }
}

a {
  text-decoration: none;
  color: inherit;
}

.m-teaser-sponsor__period {
  text-align: center;
  margin-top: 0;
  font-size: 1.3rem;

  @include respond-to-min("sm") {
    font-size: inherit;
  }
}

.m-teaser-sponsor__logo {
  margin-top: 10px;

  @include respond-to-min("sm") {
    margin-top: 0;
  }
}
