@import '../../../styles/colors.scss';

.a-button,
button {
	color: $color-white;
	background-color: $color-primary-fury-red;
	border: none;
	border-radius: 5px;
	padding: 10px 20px;
	text-transform: uppercase;
	letter-spacing: 2px;
	appearance: none;
	-webkit-appearance: none;
}
