@import "../../styles/colors.scss";
@import "../../styles/responsive.scss";

.v-about rk-icon {
	margin-left: 3px;
	display: inline-block;
	background-color: $color-primary-fury-red;
	border-radius: 100%;
	width: 20px;
	height: 20px;
	line-height: 20px;
	// padding: 3px;

	&[select="pen-tool"] {
		background-color: $color-primary-retr-orange;
	}

	svg {
		vertical-align: text-bottom;
	}
}

.v-about__members {
	margin-top: 80px;
	min-height: 150px;
}

.v-about__members .a-image {
	width: 100%;
	// margin: 0 10%;
}

.v-about__members-entry {
	position: relative;
	padding: 0 40px;
	margin: 0 0 60px 0;
	text-align: center;

	@include respond-to-min("md") {
		min-height: 250px;
	}
}

.v-about__member-role-symbols {
	position: absolute;
}

.v-about__member-intro {
	margin: 20px 0 0 0;
}

.v-about__member-image-container {
	min-height: 100px;
}

.v-about__members-entry h3 {
	@include respond-to-max("sm") {
		font-size: 2.5rem;
	}
}

.v-about__members-entry h4 {
	@include respond-to-max("sm") {
		font-size: 1.7rem;
	}
}
