<rk-seo-manager context="about"></rk-seo-manager>
<div class="v-about">
	<rk-content-block color="sea-light" space="large" title="Unser Team">
			<rk-picture *ngIf="groupPortraitImagePath" rounded="small" [src]="groupPortraitImagePath" [description]="groupPortraitDescription" alt="Team Portrait"></rk-picture>
	</rk-content-block>
	<rk-content-block color="orange" space="small">
		<div class="row center-xs">
				<p>Du möchtest ein Teil unseres Teams werden? Dann nichts wie los zur <rk-link showIndicator="true" href="contact" text="Kontakt Sektion"></rk-link> unserer Seite!</p>
		</div>
	</rk-content-block>
	<rk-content-block title="Organisationskomitee" space="large" color="grey-lighter">
		<ng-container *ngIf="teamMembers.length > 0">
			<div class="row center-xs v-about__members">
				<div class="v-about__members-entry col-xs-12 col-md-4 col-lg-3" *ngFor="let member of teamMembers">
					<rk-card>
						<!-- [src]="member.image.path" -->
						<div class="v-about__member-role-symbols">
							<span rkTooltip [tooltipText]="'Gründungsmitglied'"><rk-icon *ngIf="member.founder" select="pen-tool"></rk-icon></span>
							<span rkTooltip [tooltipText]="'Leitungsfunktion'"><rk-icon *ngIf="member.lead" select="users"></rk-icon></span>
						</div>
						<rk-image *ngIf="member.image" rounded="full" src="https://via.placeholder.com/400x400" alt="Portrait von {{member.fullName}}"></rk-image>
						<div class="v-about__member-intro">
							<rk-heading size="3" [text]="member.fullName" noSpace="true"></rk-heading>
							<rk-heading *ngIf="member.mainRole" size="4" noSpace="true" [text]="member.mainRole"></rk-heading>
							<rk-heading *ngIf="member.sideRole" size="5" noSpace="true" [text]="member.sideRole"></rk-heading>
						</div>
						<p>{{member.description}}</p>
					</rk-card>
				</div>
			</div>
			<div class="v-about__members-icon-description">
				<p><rk-icon select="pen-tool"></rk-icon> Gründungsmitglied</p>
				<p><rk-icon select="users"></rk-icon> Leitungsfunktion</p>
			</div>
		</ng-container>
	</rk-content-block>
</div>
