<ng-container [ngSwitch]="size">
	<h1
		[attr.id]="id"
		class="a-heading a-heading--{{renderingSize}}"
		[class.a-heading--no-space]="noSpace"
		[class.a-heading--block-title]="blockTitle"
		[class.a-heading--align-center]="center"
		*ngSwitchCase="1"
	>
		<rk-icon *ngIf="iconPrefix" [select]="iconPrefix.select" [color]="iconPrefix.color" [width]="iconPrefix.width" [height]="iconPrefix.height"></rk-icon>
		{{text}}
		<rk-icon *ngIf="icon && icon.select" [select]="icon.select" [color]="icon.color"></rk-icon>
	</h1>
	<h2
		[attr.id]="id"
		class="a-heading a-heading--{{renderingSize}}"
		[class.a-heading--no-space]="noSpace"
		[class.a-heading--block-title]="blockTitle"
		[class.a-heading--align-center]="center"
		*ngSwitchCase="2"
	>
		<rk-icon *ngIf="iconPrefix" [select]="iconPrefix.select" [color]="iconPrefix.color" [width]="iconPrefix.width" [height]="iconPrefix.height"></rk-icon>
		{{text}}
		<rk-icon *ngIf="icon && icon.select" [select]="icon.select" [color]="icon.color"></rk-icon>
	</h2>
	<h3
		[attr.id]="id"
		class="a-heading a-heading--{{renderingSize}}"
		[class.a-heading--no-space]="noSpace"
		[class.a-heading--block-title]="blockTitle"
		[class.a-heading--align-center]="center"
		*ngSwitchCase="3"
	>
		<rk-icon *ngIf="iconPrefix" [select]="iconPrefix.select" [color]="iconPrefix.color" [width]="iconPrefix.width" [height]="iconPrefix.height"></rk-icon>
		{{text}}
		<rk-icon *ngIf="icon && icon.select" [select]="icon.select" [color]="icon.color"></rk-icon>
	</h3>
	<h4
		[attr.id]="id"
		class="a-heading a-heading--{{renderingSize}}"
		[class.a-heading--no-space]="noSpace"
		[class.a-heading--block-title]="blockTitle"
		[class.a-heading--align-center]="center"
		*ngSwitchCase="4"
	>
		<rk-icon *ngIf="iconPrefix" [select]="iconPrefix.select" [color]="iconPrefix.color" [width]="iconPrefix.width" [height]="iconPrefix.height"></rk-icon>
		{{text}}
		<rk-icon *ngIf="icon && icon.select" [select]="icon.select" [color]="icon.color"></rk-icon>
	</h4>
	<h5
		[attr.id]="id"
		class="a-heading a-heading--{{renderingSize}}"
		[class.a-heading--no-space]="noSpace"
		[class.a-heading--block-title]="blockTitle"
		[class.a-heading--align-center]="center"
		*ngSwitchCase="5"
	>
		<rk-icon *ngIf="iconPrefix" [select]="iconPrefix.select" [color]="iconPrefix.color" [width]="iconPrefix.width" [height]="iconPrefix.height"></rk-icon>
		{{text}}
		<rk-icon *ngIf="icon && icon.select" [select]="icon.select" [color]="icon.color"></rk-icon>
	</h5>
	<h6
		[attr.id]="id"
		class="a-heading a-heading--{{renderingSize}}"
		[class.a-heading--no-space]="noSpace"
		[class.a-heading--block-title]="blockTitle"
		[class.a-heading--align-center]="center"
		*ngSwitchCase="6"
	>
		<rk-icon *ngIf="iconPrefix" [select]="iconPrefix.select" [color]="iconPrefix.color" [width]="iconPrefix.width" [height]="iconPrefix.height"></rk-icon>
		{{text}}
		<rk-icon *ngIf="icon && icon.select" [select]="icon.select" [color]="icon.color"></rk-icon>
	</h6>
</ng-container>
