@import "../../../styles/colors.scss";
@import "../../../styles/responsive.scss";

.m-tag-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: left;
}

.m-tag-list__tag {
  margin-right: 8px;
}
