@import "../../../styles/colors.scss";
@import "../../../styles/responsive.scss";

.m-tag-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: left;
}

.m-tag-list__tag {
  margin: 0 8px 8px 0;
}
