<div class="m-teaser-event">
	<rk-picture *ngIf="previewImage.path" [src]="previewImage.path"></rk-picture>
	<div class="m-teaser-event__details-desktop container">
		<div class="row">
				<div class="m-teaser-event__tile m-teaser-event__tile--type col-sm-4">
					<div class="m-teaser-event__tile-icon">
							<rk-icon *ngIf="isFestival" select="star" width="30px" height="30px"></rk-icon>
							<rk-icon *ngIf="isDayDance" select="sun" width="30px" height="30px"></rk-icon>
							<rk-icon *ngIf="isCooperation" select="share-2" width="30px" height="30px"></rk-icon>
					</div>
				</div>
				<div class="m-teaser-event__tile m-teaser-event__tile--date col-sm-4">
					<div class="m-teaser-event__tile-icon">
						<rk-icon select="calendar" width="30px" height="30px"></rk-icon>
					</div>
				</div>
				<div class="m-teaser-event__tile m-teaser-event__tile--location col-sm-4">
					<div class="m-teaser-event__tile-icon">
						<rk-icon select="map-pin" width="30px" height="30px"></rk-icon>
					</div>
				</div>
		</div>
		<div class="row middle-sm align-items-center">
				<div class="m-teaser-event__tile-text m-teaser-event__tile-text--type col-sm-4">
					<p>{{readableEventType}}</p>
				</div>
				<div class="m-teaser-event__tile-text m-teaser-event__tile-text--date col-sm-4">
					<p>{{date|date:'dd.MM.yyyy'}}</p>
				</div>
				<div class="m-teaser-event__tile-text m-teaser-event__tile-text--location col-sm-4">
					<p>
						<span *ngIf="hasLocation; else noLocation">{{this.location.name}}</span>
						<ng-template #noLocation><em>tba.</em></ng-template>
					</p>
				</div>
		</div>
	</div>
	<!-- Content Main Section -->
	<div class="m-teaser-event__content-wrapper">
		<rk-heading size="3" [text]="title"></rk-heading>
		<p *ngIf="tickets && tickets.title" class="m-teaser-event__type">Tickets</p>
		<div class="m-teaser-event__details-mobile">
			<p class="m-teaser-event__details-type" *ngIf="type">
				<span class="m-teaser-event__details-icon">
					<rk-icon *ngIf="isFestival" select="star" color="#ccc"></rk-icon>
					<rk-icon *ngIf="isDayDance" select="sun" color="#ccc"></rk-icon>
					<rk-icon *ngIf="isCooperation" select="share-2" color="#ccc"></rk-icon>
				</span>
				<span>{{readableEventType}}</span>
			</p>
			<h4 *ngIf="date" class="m-teaser-event__details-date">
					<span class="m-teaser-event__details-icon">
						<rk-icon select="calendar" color="#ccc"></rk-icon>
					</span>
					<span>Am {{date|date:'dd.MM.yyyy'}}</span>
			</h4>
			<p *ngIf="location" class="m-teaser-event__details-location">
				<span class="m-teaser-event__details-icon">
					<rk-icon select="map-pin" color="#ccc"></rk-icon>
				</span>
				<span *ngIf="hasLocation; else noLocation">{{this.location.name}} – {{this.location.city}}</span>
				<ng-template #noLocation><em>tba.</em></ng-template>
			</p>
		</div>
		<div class="m-teaser-event__description" [innerHTML]="description"></div>
	</div>
	<!-- CTA Section -->
	<div class="m-teaser-event__actions container">
		<a *ngIf="facebookUrl" [href]="facebookUrl" target="_blank" class="m-teaser-event__facebook-link" (click)="trackFacebookLeap()">
			<rk-icon select="facebook3"></rk-icon>
			Facebook Event
		</a>
		<a [routerLink]='eventDetailURL' class="m-teaser-event__detail-link">
			<rk-icon [select]="eventDetailIcon.select" color="#fff"></rk-icon>
			{{eventDetailText}}
		</a>
	</div>
</div>
