@import "../../../styles/colors.scss";
@import "../../../styles/responsive.scss";
@import "../../../styles/shadows.scss";

.m-teaser-event {
  @include teaser-box-shadow();
  position: relative;
  overflow: hidden;
  padding: 0;
  background-color: $color-white;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;

  rk-image img {
    height: 250px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
}

.m-teaser-event__content-wrapper {
  padding: 0 20px 10px 20px;
}

.m-teaser-event h3 {
  min-height: 32px; // 1x line height
  margin: 30px 0 15px 0;
}

.m-teaser-event__details-type,
.m-teaser-event__details-date,
.m-teaser-event__details-location {
  font-size: 0.9rem;
  color: #aaa;
  font-weight: normal;
  margin: 5px 0;
}

.m-teaser-event__details-icon {
  display: inline-block;
  width: 28px;
}

.m-teaser-event__description {
  margin-top: 15px;
  height: 150px;
  overflow: hidden;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 45px;
    pointer-events: none;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 10%), rgba(255, 255, 255, 1) 100%);
  }
}

.m-teaser-event__type {
  width: 200px;
  background: $color-primary-grass-green;
  position: absolute;
  top: 5px;
  left: -70px;
  text-align: center;
  line-height: 30px;
  letter-spacing: 1px;
  color: $color-white;
  font-size: 0.8rem;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  text-transform: uppercase;
}

// tiles desktop
.m-teaser-event__tile-icon {
  display: inline-block;
  border: 2px solid transparent;
  padding: 10px;
  border-radius: 100px;
}

.m-teaser-event__tile-text {
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  margin: 0;

  &--type {
    color: $color-primary-fury-red;
  }

  &--date {
    color: $color-primary-grass-green;
  }

  &--location {
    color: $color-primary-retr-orange;
  }
}

.m-teaser-event__tile {
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;

  &--type {
    .m-teaser-event__tile-icon {
      background-color: $color-primary-fury-red;
    }
  }

  &--date {
    .m-teaser-event__tile-icon {
      background-color: $color-primary-grass-green;
    }
  }

  &--location {
    .m-teaser-event__tile-icon {
      background-color: $color-primary-retr-orange;
    }
  }
}

// actions

.m-teaser-event rk-button-facebook {
  margin-right: 10px;
}

.m-teaser-event__actions {
  display: block;
  padding: 10px 0 0 0;
}

.m-teaser-event__facebook-link,
.m-teaser-event__detail-link {
  transition: all 0.25s ease-in-out;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 14px 0;
  color: $color-white;

  rk-icon .a-icon {
    vertical-align: text-bottom;
    margin-right: 3px;
  }
}

.m-teaser-event__facebook-link {
  background-color: $color-brand-facebook;
}

.m-teaser-event__detail-link {
  background-color: $color-primary-sea-green;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;

  &:hover {
    background-color: $color-grey-100;
  }
}

// details responsive

.m-teaser-event__details-desktop {
  display: none;
  padding: 15px 20px 0 20px;
  background-color: $color-grey-500;
}

@include respond-to-min("sm") {
  .m-teaser-event__details-mobile {
    display: none;
  }

  .m-teaser-event__details-desktop {
    display: block;
  }
}
