rk-content-loader-impression,
rk-content-loader-impression content-loader,
rk-content-loader-impression content-loader svg {
	display: block;
	width: 100%;
}
rk-content-loader-impression content-loader svg {
	display: block;
	width: 100%;
}
