$a-button-facebook-size: 30px;

.a-button-facebook {
	background-color: #1778f2;
	text-decoration: none;
	color: #fff;
	border-radius: $a-button-facebook-size;
	display: inline-block;
	text-align: center;
	line-height: #{$a-button-facebook-size + 2px};
	width: $a-button-facebook-size;
	height: $a-button-facebook-size;

	rk-icon svg {
		vertical-align: sub;
	}
}
