<rk-seo-manager context="sponsors"></rk-seo-manager>
<rk-content-block
	*ngIf="pageData"
	color="sea-light"
	space="xlarge"
	centerHeading="true"
	skew="true"
	size="1"
	[heading]="pageData.title"
>
	<div class="row justify-content-center">
			<div class="col-xs-12 col-sm-10 h-text-align--center" [innerHTML]="pageData.description"></div>
	</div>
</rk-content-block>
<div class="v-sponsors-overview container">
	<div class="row middle-xs align-items-center">
		<div *ngFor="let sponsor of sponsors" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 justify-content-center">
			<rk-teaser-sponsor
				[slug]="sponsor.slug"
				[name]="sponsor.name"
				[url]="sponsor.url"
				[logo]="sponsor.logo"
				[description]="sponsor.description"
				[level]="sponsor.level"
				[joinedYear]="sponsor.joinedYear"
				[lastActiveYear]="sponsor.lastActiveYear"
			></rk-teaser-sponsor>
		</div>
	</div>
</div>
