<rk-seo-manager context="impressions-overview"></rk-seo-manager>

<rk-content-block
	*ngIf="pageData"
	color="sea-light"
	space="xlarge"
	centerHeading="true"
	skew="true"
	size="1"
	[heading]="pageData.title || '&nbsp;'"
>
	<div class="row">
			<div class="col-12 o-content-block__text" [innerHTML]="pageData.description || '&nbsp;'"></div>
	</div>
</rk-content-block>

<div *ngIf="!impressions || impressions.length === 0" class="v-impressions-overview container">
	<div class="row">
		<div class="col-12 col-lg-6">
			<rk-content-loader-impression></rk-content-loader-impression>
		</div>
		<div class="col-12 col-lg-6">
			<rk-content-loader-impression></rk-content-loader-impression>
		</div>
		<div class="col-12 col-lg-6">
			<rk-content-loader-impression></rk-content-loader-impression>
		</div>
		<div class="col-12 col-lg-6">
			<rk-content-loader-impression></rk-content-loader-impression>
		</div>
	</div>
</div>

<div class="v-impressions-overview container">
	<div class="row">
		<div *ngFor="let impression of impressions" class="col-12 col-lg-6" [id]="impression.slug">
			<a [routerLink]="'/impressions/' + impression.slug" class="v-impressions-overview__entry v-impressions-overview__entry--{{getEntryModifier(impression)}}">
				<rk-picture *ngIf="impression.showcaseImage" [src]="impression.showcaseImage.path"></rk-picture>
				<rk-heading [size]="3" [text]="impression.title"></rk-heading>
			</a>
		</div>
	</div>
</div>
