@import '../../../styles/colors.scss';

.a-button-link {
	display: inline-block;
	padding: 10px;
	border-radius: 3px;
	background-color: $color-black;
	color: $color-white;
	text-decoration: none;
	line-height: 52px;
	height: 52px;
	line-height: 34px;
	transition: all 0.2s ease-in-out;

	&:hover {
		background-color: $color-grey-100;
	}

	rk-icon svg {
		height: 34px;
		line-height: 34px;
		vertical-align: sub;
		margin-right: 5px;
	}

	&--green {
		background-color: $color-primary-grass-green;

		&:hover {
			background-color: $color-primary-grass-green-light1;
		}
	}
}
