// fonts
@import "./assets/fonts/fv-almelo/stylesheet.css";
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap");

// libraries
@import "./app/styles/microtip.scss";

// global styles
@import "./app/styles/normalize.scss";
@import "./app/styles/flexboxgrid.scss";
@import "./app/styles/sizes.scss";
@import "./app/styles/global.scss";
@import "./app/styles/helpers.scss";
@import "./app/styles/spacings.scss";
