@import "../../styles/colors.scss";
@import "../../styles/responsive.scss";

// .v-sponsors__wrapper {
//   margin: 0 auto;
//   padding: 20px 0;
//   background-color: $color-grey-400;

//   @include respond-to-min("sm") {
// 		padding: 40px 0;
//     background-color: transparent;
//   }
// }

// .v-sponsors-overview__entry {
//   margin-bottom: 20px;

//   @include respond-to-min("sm") {
//     margin-bottom: 0;
//   }
// }
